.app-wrapper {
  display: grid;
  grid-template-areas:
    "h h"
    "n p";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header {
  grid-area: h;
  background-color: rgb(255, 192, 247);
}
.header img {
  width: 100px;
}

.navbar {
  grid-area: n;
  background-color: rgb(192, 235, 255);
  padding: 20px;
}

.profile img {
  height: 400px;
  width: 100%;
}

.post img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.app-wrapper-content {
  grid-area: p;
  background-color: rgb(195, 233, 28);
}
.description {
  padding: 10px;
}
.my-post {
  padding: 10px;
}
